@border-width: 3px; // Link line 宽度，建议为偶数
@border-color: #e05250;

@node-border-radius: 12px;
@node-spacing-width: 20px;    // Node 水平间隔
@node-spacing-height: 10px;   // Node 竖直间隔

@link-line-cap-radius: 8px;   // Link Line 连接处弯曲半径

.mind-node {
  display: flex;
  align-items: center;
  position: relative;

  &-body {
    border: @border-width solid @border-color;
    border-radius: @node-border-radius;
    margin: @node-spacing-height @node-spacing-width;
    padding: 0.6em 1em;
    background: #fff;

    &-title {
      font-size: 1.1em;
      color: #303133;
      white-space: pre;
      line-height: 1.8em;
    }

    &-callout {
      font-size: 0.9em;
      color: #909399;
      border-left: 4px solid #C0C4CC;
      padding-left: 0.8em;
      margin: 0.5em 0 0.3em;

      &-item {
        white-space: pre;
        line-height: 1.8em;
      }
    }
  }

  &-children {
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      height: @border-width;
      width: @node-spacing-width;
      background: @border-color;
      top: 50%;
      transform: translateY(-@border-width / 2);
      left: -@node-spacing-width;
    }
  }

  /* Link Line */

  // Children 连接父节点 Link
  &:not(.first-child):not(.last-child):not(.root-node) {
    &::before {
      content: "";
      display: block;
      width: @border-width;
      height: 100%;
      position: absolute;
      left: 0;
      background: @border-color;
      transform: translateX(-50%);
    }
  }

  // 囊括子节点 Link
  &:not(.root-node)::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    //left: -@node-spacing-width - @border-width;
    width: @node-spacing-width;
    height: @border-width;
    background: @border-color;
    //right: -@node-spacing-width - @border-width;
    //border: @border-width / 2 solid @border-color;
    transform: translateY(-50%);
    top: 50%;
    //width: @node-spacing-width;
  }

  &.first-child {
    &::after {
      height: unset;
      background: unset;
      top: 50%;
      bottom: 0 - @border-width;
      //bottom: -@node-spacing-height - @border-width * 2;
      //transform: translate(-@border-width / 2);
      transform: translate(-@border-width / 2, @border-width / 2);
      border: @border-width solid @border-color;
      border-bottom: 0 transparent;
      border-right: 0 transparent;
      border-top-left-radius: @link-line-cap-radius;
    }
  }

  &.last-child {
    &::after {
      height: unset;
      background: unset;
      bottom: 50%;
      //top: -@node-spacing-height - @border-width * 2;
      top: 0 - @border-width;
      transform: translate(-@border-width / 2, @border-width / 2);
      border: @border-width solid @border-color;
      border-top: 0 transparent;
      border-right: 0 transparent;
      border-bottom-left-radius: @link-line-cap-radius;
    }
  }

  &.single-child {
    & > .mind-node-children > .mind-node {
      &::before {
        content: unset;
      }
    }
  }
}
