@import "../../style/index";

.markdown-editor-drag-sizing {
  transition: background 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover,
  &:active {
    background: #efefef;
  }
  &::before {
    color: #ccc;
  }
}

.tui-editor-defaultUI {
  border-color: #f0f0f0 !important;
  border-radius: 2px;

  .te-toolbar-section {
    border-color: #f0f0f0 !important;
  }
}
